$body-background-color: #fff !default;
$text-color: #353535 !default;
$text-gray-color: #898989 !default;
$link-color: #f5891f !default;
$main-color: #f5891f !default;
$defaultTransition: all .2s ease;
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and ( min--moz-device-pixel-ratio: 2),
      only screen and ( -o-min-device-pixel-ratio: 2/1),
      only screen and ( min-device-pixel-ratio: 2),
      only screen and ( min-resolution: 192dpi),
      only screen and ( min-resolution: 2dppx)";
$border-radius: 4px;